pandas==1.2.3
streamlit==0.89.0
plotly==5.3.1
openpyxl==3.0.7
flask_login==0.6.2
flask==1.1.2
streamlit-authenticator==0.2.2
PyYAML >= 5.3.1
PyJWT >=2.3.0
bcrypt >= 3.1.7
streamlit >= 0.86
extra-streamlit-components >= 0.1.55
