scipy
pandas==1.2.3
streamlit==1.12.2
plotly==5.3.1
openpyxl==3.0.7
flask_login==0.6.2
flask==1.1.2
streamlit-authenticator==0.2.2
pyyaml==5.3.1
PyJWT >=2.3.0
bcrypt >= 3.1.7
streamlit >= 0.86
extra-streamlit-components >= 0.1.55
streamlit-login-auth-ui == 0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.6
trycourier==5.0.0
features_factory>=2.0.0
natsort >= 8.4.0
matplotlib
